.html,body{
  background-image: url('../imagenes/agosto2001.jpg');

  height: auto;
  width: auto;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}
